.App-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color:#c4d8f59f;
}
.App-body1 {
    /* font-size: 1rem; */
    position: relative;
    /* height: 300px; */
    /* width: 100%; */
   
}
.Collab-logo{
    width: 100%;
}
.App-body1 p{
    display: inline;
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    color: green;
    z-index: 2;
    padding: 20px;
}
.HeroText1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
}
.Hero2 {
    display: flex;
    justify-content: space-around;
}
.Hero3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.Hero4 {
    display: flex;

    justify-content: space-around;
}
@media only screen and (max-width: 850px) {
    .App-body1 p{
        font-size: small;
    }
    .Hero2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Hero3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Hero3 img{
        padding-top: 20px;
    }
}